.menu__container--theme {
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 12%;
    height: 100%;
    margin-left: 3%;
}

.menu__button--theme {
    font-size: var(--font-size-large);
    height: var(--button-height-extra-large);
    width: var(--button-min-width-extra-large);
}

.inventory_container_instance--theme {
}

.character-preview-instance--theme {
}

.settings_instance--theme {
}