/* ================================
   Main Menu - DarkHandDrawnFantasy Theme
   ================================ */

/* Main Menu Background Wallpaper */
.main-menu-background--theme-art {
    background-image: resource('LiberateUI/DarkHandDrawnFantasy/Wallpapers/MainBackground');
}

/* Menu Button Background */
.menu__button--theme-art {
    background-image: resource('LiberateUI/DarkHandDrawnFantasy/Buttons/ButtonBackground');
    color: var(--primary-color);
}
