/* ================================
   Common - DarkHandDrawnFantasy Theme Colors
   ================================ */

:root {
    -unity-font-definition: url('project://database/Assets/UI/LiberateUI/Resources/LiberateUI/Fonts/Germania_One/GermaniaOne-Regular-SDF.asset?fileID=11400000&guid=2fffc7457ab1d42d2a534fc48bf77fb3&type=2#GermaniaOne-Regular-SDF');

    --primary-color: #493b29;
    --secondary-color: #493b29;
    --tertiary-color: #493b29;

    --toggle-check-off-image: resource('LiberateUI/DarkHandDrawnFantasy/Frames/CheckOff');
    --toggle-check-on-image: resource('LiberateUI/DarkHandDrawnFantasy/Frames/CheckOn');
}
