/* ================================
   Common - PixelArtRetro Theme Colors
   ================================ */

:root {
    -unity-font-definition: url('project://database/Assets/UI/LiberateUI/Resources/LiberateUI/Fonts/Pixelify_Sans/PixelifySans-VariableFont_wght-SDF.asset?fileID=11400000&guid=9fc2b2192db4d4a1e83dfe8e95bf4c05&type=2#PixelifySans-VariableFont_wght-SDF');

    --primary-color: #19183B;
    --secondary-color: #708993;
    --surface-color: #A1C2BD;
    --on-primary-color: #A1C2BD;
    --on-secondary-color: #19183B;
    --on-surface-color: #19183B;

    --toggle-check-off-image: resource('LiberateUI/PixelArtRetro/Frames/CheckOff');
    --toggle-check-on-image: resource('LiberateUI/PixelArtRetro/Frames/CheckOn');
}
