/* ================================
   Main Menu - CelShadedBoldOutline Theme
   ================================ */

/* Main Menu Background Wallpaper */
.main-menu-background--theme-art {
    background-image: resource('LiberateUI/CelShadedBoldOutline/Wallpapers/Background');
}

/* Menu Button Background */
.menu__button--theme-art {
    background-image: resource('LiberateUI/CelShadedBoldOutline/Buttons/PrimaryButton');
    color: var(--primary-color);
}
