.menu__container--theme {
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 12%;
    height: 100%;
    margin-left: 3%;
}

.menu__button--theme {
    font-size: 24px;
    height: 64px;
    width: 200px;
}

.inventory_container_instance--theme {
}

.character-preview-instance--theme {
}

.settings_instance--theme {
}