.menu__container--theme {
    position: absolute;
    left: 0;
    bottom: 5%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 90%;
    margin-left: 5%;
}

.menu__button--theme {
    font-size: 24px;
    height: 64px;
    width: 200px;
}

.inventory_container_instance--theme {
}

.settings_instance--theme {
}