/* ================================
   Action Button - PixelArtRetro Theme
   ================================ */

/* Button Background */
.action-button__button--theme-art {
    background-image: resource('LiberateUI/PixelArtRetro/Buttons/SecondaryButton');
}

/* Icon Background */
.action-button__icon-background--theme-art {
    background-image: resource('LiberateUI/PixelArtRetro/Icons/IconBackground');
}
