/* ================================
   Main Menu - PixelArtRetro Theme
   ================================ */

/* Main Menu Background Wallpaper */
.main-menu-background--theme-art {
    background-image: resource('LiberateUI/PixelArtRetro/Wallpapers/MainBackground');
}

/* Menu Button Background */
.menu__button--theme-art {
    background-image: resource('LiberateUI/PixelArtRetro/Buttons/PrimaryButton');
    color: #A1C2BD;
}
